<footer>
  <div class="container">
    <a class="logo-font" routerLink="/">KISS</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      An platform that facilitates Inner Source Software<a href="https://thalsgroup.com">KISS</a>.
      Code licensed under MIT.
    </span>
  </div>
</footer>
