<div class="article-meta">
  <div class="article-image">
    <img [src]="article.author.image" />
  </div>
  <div class="article-content">
    <div class="info">
      <a class="author" [routerLink]="['/profile', article.author.username]">
        {{ article.author.username }}
      </a>
      <span class="date">
      {{ article.createdAt | date: 'longDate' }}
    </span>
    </div>
    <ng-content></ng-content>
  </div>
</div>
