.page-link {
  cursor: pointer;
}
.article-meta {
  display: flex;
  padding-top: 1.2rem;
  background-color: lightgray;
  min-height: 300px;
}
img {
}
.article-image {
  width: 50%px;
  /* Just so it's visible */
}
.article-content {
  flex: 1;
  width: 50%px;
  /* Grow to rest of container */
  /* Just so it's visible */
}
