.article-meta {
  display: flex;
}
.article-image {
  width: 30%px;
  background: gray;
  /* Just so it's visible */
}
.article-content {
  flex: 1;
  width: 70%px;
  /* Grow to rest of container */
  background: blue;
  /* Just so it's visible */
}
